  <h1>Add a New Tea to your Collection</h1>

  <form method="post" action="/users/teas">
    <span>Name:</span>
      <input type="text" id="tea_name" name="tea[tea_name]">
    <br><br>
    <span>Brand:</span>
      <input type="text" id="brand" name="tea[brand]">
      <br><br>Please enter the brand name or enter Unknown
    <br><br>
    <span>Types:</span>
    <%@types.each do |type|%>
      <input type="checkbox" name="type[type_ids][]" value="<%=type.id%>" id="<%=type.id%>"><%=type.type_name%></input>
    <%end%>
     Or create a new type: <input type="text" name="type[type_name]"/>
     <br><br><p class="notes">Please enter Black(Red), Green, Oolong, Pu-erh, Tisane(Herbals), White, Yellow, or Unknown</p>
    <span>Origin:</span>
      <input type="text" name="tea[origin]"/>
     <br><br><p class="notes">Please enter China, Japan, India, Sri Lanka(Ceylon), Taiwan, or Unknown</p>
    <span>Leaves:</span>
      <input type="radio" name="tea[leaves]" value="Loose Leaf"> Loose Leaf
      <input type="radio" name="tea[leaves]" value="Teabag"> Teabag
    <br><br>
    <span>Caffeine:</span>
      <input type="radio" name="tea[caffeine]" value="Caffeine"> Caffeine
      <input type="radio" name="tea[caffeine]" value="Caffeine-Free"> Caffeine-Free
    <br><br>
    <span>Pairings:</span>
      <input type="text" name="tea[pairing]"/>
    <br><br>
    <span>Brew Time:</span>
      <input type="text" name="tea[brew_time][]" value="# of scoops/teabags">
      <input type="text" name="tea[brew_time][]" value="# of cups">
      <input type="text" name="tea[brew_time][]" value="temperature">
      <input type="text" name="tea[brew_time][]" value="time">
    <br><br>
    <span>Tasting Notes:</span>
      <input type="text" name="tea[tasting_notes]">
    <br><br>
    <span>Comments:</span>
      <input type="text" name="tea[comments]">
    <br><br>
    <input type="submit" value="Add New Tea">
  </form>

<br>
<p><a href='/users/<%=@user.slug%>/teas'> Cancel </a></p>
