<!-- begin setup Logo and Navigation -->

  <h1>Tea Crate</h1>

  <h3>Menu</h3>
    <ul>
      <li><a href="/users/show">Home</a></li>
      <li><a href="/teas/tea-info/history-tea">History of Tea</a></li>
      <li><a href="/teas/tea-info/art-of-tea">The Art of Tea</a></li>
      <li><a href="/teas/tea-info/tea-customs">Tea Customs</a></li>
      <li><a href="/teas/tea-info/tea-etiquette">Tea Etiquette</a></li>
      <li><a href="/teas/tea-info/tea-resources">Tea Resources</a></li>
      <li><a href="/logout">Log Out</a></li>
    </ul>

    <br>
<!-- end setup Logo and Navigation -->

  <h1>Add a New Tea to your Collection</h1>

  <form method="post" action="/users/<%=@user.id%>/teas">
    <label for="tea_name">Name:</label>
      <input type="text" id="tea_name" name="tea[tea_name]">
    <br><br>
    <label for="brand">Brand:</label>
      <input type="text" id="brand" name="tea[brand]">
    <br><br>
    <label for="type">Type:</label>
      <input type="checkbox" name="tea[types][][type_name]" value="Black(Red)">Black(Red)
      <input type="checkbox" name="tea[types][][type_name]" value="Green">Green
      <input type="checkbox" name="tea[types][][type_name]" value="Oolong">Oolong
      <input type="checkbox" name="tea[types][][type_name]" value="Pu'er">Pu'er
      <input type="checkbox" name="tea[types][][type_name]" value="Tisane(Herbals)">Tisane(Herbals)
      <input type="checkbox" name="tea[types][][type_name]" value="White">White
      <input type="checkbox" name="tea[types][][type_name]" value="Blends">Blends
    <br><br>
    <label for="origin">Origin:</label>
      <input type="checkbox" name="tea[origin][][origin_name]" value="China">China
      <input type="checkbox" name="tea[origin][][origin_name]" value="India">India
      <input type="checkbox" name="tea[origin][][origin_name]" value="Japan">Japan
      <input type="checkbox" name="tea[origin][][origin_name]" value="Taiwan">Taiwan
      <input type="checkbox" name="tea[origin][][origin_name]" value="Sri Lanka (Ceylon)">Sri Lanka (Ceylon)
    <br><br>
    <label for="leaves">Leaves:</label>
      <input type="checkbox" name="tea[leaves][][leaves_style]" value="Loose Leaf">Loose Leaf
      <input type="checkbox" name="tea[leaves][][leaves_style]" value="Teabag">Teabag
    <br><br>
    <label for="caffeine">Caffeine:</label>
      <input type="checkbox" name="tea[caffeine][][contains_caffeine]" value="Caffeine">Caffeine
      <input type="checkbox" name="tea[caffeine][][contains_caffeine]" value="Caffeine-Free">Caffeine-Free
    <br><br>
    <label for="pairings">Pairings:</label>
      <input type="checkbox" name="tea[pairing][][room_for]" value="Cream">Cream
      <input type="checkbox" name="tea[pairing][][room_for]" value="Honey">Honey
      <input type="checkbox" name="tea[pairing][][room_for]" value="Lemon">Lemon
      <input type="checkbox" name="tea[pairing][][room_for]" value="Milk">Milk
      <input type="checkbox" name="tea[pairing][][room_for]" value="Sugar">Sugar
      <input type="checkbox" name="tea[pairing][][room_for]" value="None">None
    <br><br>
    <label for="tasting_notes">Tasting Notes:</label>
      <input type="checkbox" name="tea[tasting_notes][][tastes]" value="Bitter">Bitter
      <input type="checkbox" name="tea[tasting_notes][][tastes]" value="Citrus">Citrus
      <input type="checkbox" name="tea[tasting_notes][][tastes]" value="Earthy">Earthy
      <input type="checkbox" name="tea[tasting_notes][][tastes]" value="Light">Light
      <input type="checkbox" name="tea[tasting_notes][][tastes]" value="Nutty">Nutty
      <input type="checkbox" name="tea[tasting_notes][][tastes]" value="Spicy">Spicy
    <br><br>
    <label for="brew_time">Brew Time:</label>
      <input type="textarea" id="brew_time" name="tea[brew_time][brew_info]">
    <br><br>
    <label for="comments">Comments:</label>
      <input type="textarea" name="comments">
    <br><br>
    <input type="submit" value="Add to Crate">
  </form>
