  <h1>Add a New Tea to your Collection<h1>

  <form method="post" action="/users/<%=@user_id%>/teas">
    <label>Name:</label>
    <input type="text" id="tea_name" name="tea[tea_name]">
    <br>
    <label>Brand:</label>
    <input type="text" id="type_brand" name="tea[type][brand]">
    <br>
    <label>Type:</label>
      <input type="checkbox" name"tea[type][][type_name]" value="hardcoded"/>Black(Red)</input>
      <input type="checkbox" name"tea[type][][type_name]" value="hardcoded"/>Green</input>
      <input type="checkbox" name"tea[type][][type_name]" value="hardcoded"/>Oolong</input>
      <input type="checkbox" name"tea[type][][type_name]" value="hardcoded"/>Pu'er</input>
      <input type="checkbox" name"tea[type][][type_name]" value="hardcoded"/>Tisane(Herbals)</input>
      <input type="checkbox" name"tea[type][][type_name]" value="hardcoded"/>Blends</input>
    <br>
    <label>Origin:</label>
      <input type="checkbox" name"tea[type][][origin]" value="hardcoded"/>China</input>
      <input type="checkbox" name"tea[type][][origin]" value="hardcoded"/>India</input>
      <input type="checkbox" name"tea[type][][origin]" value="hardcoded"/>Japan</input>
      <input type="checkbox" name"tea[type][][origin]" value="hardcoded"/>Taiwan</input>
      <input type="checkbox" name"tea[type][][origin]" value="hardcoded"/>Sri Lanka (Ceylon)</input>
    <br>
    <label>Leaves:</label>
      <input type="checkbox" name="tea[type][][leaves]" value="hardcoded"/>Loose Leaf</input>
      <input type="checkbox" name="tea[type][][leaves]" value="hardcoded"/>Teabag</input>
    <br>
    <label>Caffeine:</label>
      <input type="checkbox" name="tea[type][][caffeine]" value="hardcoded"/>Caffeine</input>
      <input type="checkbox" name="tea[type][][caffeine]" value="hardcoded"/>Caffeine-Free</input>
    <br>
    <label>Pairings:</label>
      <input type="checkbox" name="tea[type][][pairings]" value="hardcoded"/>Cream</input>
      <input type="checkbox" name="tea[type][][pairings]" value="hardcoded"/>Honey</input>
      <input type="checkbox" name="tea[type][][pairings]" value="hardcoded"/>Lemon</input>
      <input type="checkbox" name="tea[type][][pairings]" value="hardcoded"/>Milk</input>
      <input type="checkbox" name="tea[type][][pairings]" value="hardcoded"/>Sugar</input>
    <br>
    <label>Tasting Notes:</label>
      <input type="checkbox" name="tea[type][][tasting_notes]" value="hardcoded"/>Bitter</input>
      <input type="checkbox" name="tea[type][][tasting_notes]" value="hardcoded"/>Citrus</input>
      <input type="checkbox" name="tea[type][][tasting_notes]" value="hardcoded"/>Earthy</input>
      <input type="checkbox" name="tea[type][][tasting_notes]" value="hardcoded"/>Light</input>
      <input type="checkbox" name="tea[type][][tasting_notes]" value="hardcoded"/>Nutty</input>
      <input type="checkbox" name="tea[type][][tasting_notes]" value="hardcoded"/>Spicy</input>
    <br>
    <label>Brew Time:</label>
      <input type="textarea" name="brew_time">
    <br>
    <label>Comments:</label>
      <input type="textarea" name="comments">
    <br>
    <input type="submit" value="Add to Crate">

</form>
