  <h1>Your Tea Crate</h1>

  <h3><a href="/teas/create_tea">Add a New Tea to Your Collection</a></h3>

  <!-- user can sort by tea name(abc order), type, origin, or brands -->
  <!-- user can search by tea name -->
  <% @teas.each do |tea| %>
    <p><%=tea.name%></p>
  <% end %>
