  <h1>Your Tea Crate</h1>

  <h3><a href="/users/<%=@user.id%>/teas/new">Add a New Tea to Your Collection</a></h3>

  <!-- user can sort by tea name(abc order), type, origin, or brands -->
  <!-- user can search by tea name -->
  <!-- user can edit and delete an exisiting tea -->
  <% @teas.each do |tea| %>
    <h2><%=tea.name%></h2>
    <p><%=tea.type%></p>
    <p><%=tea.origin%></p>
  <% end %>
