<h1>Welcome, <%=@user.name%></h1>

<a href="/logout">Log Out</a>

<br>
<!-- <h4><a href="/teas">Your Tea Crate</a></h4> -->
<h4><a href="/users/<%=@user.id%>/teas">Your Tea Crate</a></h4>
<h4>Brew timer?</h4>
