  <h1>Welcome, <%=@user.username.capitalize%></h1>

  <br>
  <!-- <h4><a href="/teas">Your Tea Crate</a></h4> -->
  <h4><a href="/users/<%=@user.slug%>/teas">Your Tea Crate</a></h4>
  <h4>Brew timer?</h4>
