<!-- <h1>Art of Tea<h1>

<h3>Menu</h3>
  <ul>
    <li><a href="/teas/index">Your Tea Crate</a></li>
    <li><a href="/teas/tea-info/history-tea">History of Tea</a></li>
    <li>The Art of Tea</li>
    <li>Tea Customs</li>
    <li>Tea Etiquette</li>
    <li>Tea Resources</li>
  </ul>

<h4>Water</h4>
<h4>Fire</h4>
<h4>Pots and Cups</h4>


  -->
