  <h1>Art of Tea<h1>



  <h4>Water</h4>
  <h4>Fire</h4>
  <h4>Pots and Cups</h4>
  <h4>Loose Leaf or Tea Bags?</h4>
    <p>The difference depends on the grade of tea.</p>
    Loose leaves preserves all the richness and essence of tea because the leaves are still whole. Tea bags have leaves that were processed through the "Cut, Tear, and Curl" method. This method creates a fine leaf tea with a large surface area that helps the tea brew faster, but it loses some of its flavor. Due to this, many tea drinkers would pair the tea with milk, cream, or honey.
    Overall, they both come from the same leaves but were processed in different ways that affect its falvor and brew time. Loose leaves are pressed and rotated to curl and twist the leaves. Tea bag leaves would have those leaves torned into smaller pieces. The loose leaves get better circulation when brewed creating a deeper flavor. Tea bags have their leaves contained and stationary to wear the bag sits in the cup.
