  <h1>Art of Tea<h1>

  <h4>Tea is a natural product. It's the product of its environment. Where it's grown and how it's processed determines its properties.</h4>

  <h4>Water</h4>
    <p>Fresh, clean water is best used when brewing tea. In today's society, filtered water may be our only alternative. Water has its own properties and minerals that may alter the tea leaves flavors. Having fresh and clean water is vital to the brewing process.</p>

  <h4>Fire</h4>
    <p>The temperature from your stove or electric kettle determines how bitter your tea can be. Black teas can withstand boiling water when brewed. However, using boiled water to brew Oolong, Green, and White teas can burn the leaves and alter the true flavors from the tea leaves.</p>

  <h4>Pots and Cups</h4>
    <p>When serving loose leaf teas, having a proper tea pot and tea cups is important. Their material can affect the brewing process. There are many types of pots and cups made from clay, porcelain, and glass. Each material keeps the tea warm after water is added.</p>

  <h4>Loose Leaf or Tea Bags?</h4>
    <p>The difference depends on the grade of tea.</p>
    <br>
    <p>Loose leaves preserves all the richness and essence of tea because the leaves are still whole. Tea bags have leaves that were processed through the "Cut, Tear, and Curl" method. This method creates a fine leaf tea with a large surface area that helps the tea brew faster, but it loses some of its flavor. Due to this, many tea drinkers would pair the tea with milk, cream, or honey.</p>
    <br>
    <p>Overall, they both come from the same leaves but were processed in different ways that affect its falvor and brew time. Loose leaves are pressed and rotated to curl and twist the leaves. Tea bag leaves would have those leaves torned into smaller pieces. The loose leaves get better circulation when brewed creating a deeper flavor. Tea bags have their leaves contained and stationary to wear the bag sits in the cup.</p>
