  <h1>The History of Tea</h1>

  <p>The story of tea begins with a simple tea leaf, but is very long and complex. It spreads across multiple cultures over thousands of years.</p>

  <p>Tea is likely originated in China as a medicinal drink. The most common tea leaf is Camellia Sinensis. Legend has it that a Chinese Emperor was drinking boiled water when a few leaves were blown from a nearby tree into his cup of water. It changed color and tea blossomed. A tea industry boomed and took off, taking over the world through trade and explorations.</p>

  <p>Drinking tea became popular in Britain during the 17th century. Tea was introduced in the UK and ultimately to India when the British sent Botanist Robert Fortune to China where he secretly stole trade secrets of China's tea industry. Only the Queen and aristocracts could afford to drink tea as it was considered rare and exotic. Funny how something so simple became a staple to Brits for the years to come.</p>
