<!-- <h1>History of Tea<h1>

<h3>Menu</h3>
  <ul>
    <li><a href="/teas/index">Your Tea Crate</a></li>
    <li><a href="/teas/tea-info/history-tea">History of Tea</a></li>
    <li>The Art of Tea</li>
    <li>Tea Customs</li>
    <li>Tea Etiquette</li>
    <li>Tea Resources</li>
  </ul>



  -->
