

<p>Tea can mean many thing to different cultures. These meanings are carried over to customs that bare even more symbolizm.</p>

Matcha tea

Traditionally, matcha tea is made by whisking matcha green tea powder into hot water (never boiling) using a bamboo whisk, then serve in a bowl.
