  <h1>Tea Etiquette</h1>

  <p>Tea etiquette ranges from difference cultures and regions.</p>

  <p>In Asia, tea is served as a courtesy. Always serve elders and respected guests first before serving all other guests. Tea is served pure; no added pairings like milk or cream is ever included.</p>

  <h3>When to Drink Tea</h3>

  <p>Teas have various levels of caffeine, strength, flavors, and health properties. When to drink tea depends on the person but below is a general suggestion.</p>

  <p>Morning: Similar to coffee, a strong tea like Black tea, is best. Helps starts the day refreshed and ready.</p>

  <p>Lunch: A lighter tea like Green and Oolong teas helps eases the day towards the evening.</p>

  <p>Dinner: Oolongs, Whites, and Decaffeinated teas are light enough to pair with a heavy dinner meal. Though it's suggested to reach for a Pu-erh tea as it aids with digestion.</p>

  <p>Bedtime: As a nightcap, a Tisane(Herbal) or decaffeinated tea is best.</p>

  <h3>How to Drink Tea</h3>
  <p>Asia: slurping</p>
  <p>UK: no pinky up</p>
