  <h1>Tea Culture</h2>

  <p>Tea can mean many things to different cultures. These meanings are carried over to customs that bare even more symbolizm. Tea culture is defined by the way the tea is made and consumed, how people interact with tea, and the environment surrounding the tea drinking. This includes how a tea is produced and brewed.</p>

  <p>Tea has an important role in some countries. Depending on how its consumed, there are many formal ceremonies surrounding it. In Asia, tea ceremonies are performed but each with their own set of customs depending on the country and its regions. In Britain, the most popular is Afternoon tea.</p>
