  <h1>Tea Resources<h1>
    
  <h4>Books</h4>
  <ul>
    <li>The Book of Tea - Kakuzō Okakura</li>
    <li>The Ancient Art of Tea - Warren Peltier</li>
    <li>How to Make Tea: The Science Behind the Leaf - Brian Keating and Kim Long</li>
    <li>For All the Tea in China: How England Stole the World's Favorite Drink and Changed History - Sarah Rose</li>
  </ul>
  <br>

  <h4>Museums</h4>
  <ul>
    <li>TenFu Tea Museum - World's largest tea museum</li>
    <li>China National Tea Museum</li>
  </ul>
  <br>

  <h4>Schools</h4>
  <ul>
    <li>Zhangzhou College of Science and Technology</li>
    <li>Tatung Institute of Commerce and Technology</li>
    <li>Lu-Yu Tea Culture Institute</li>
  </ul>
